body{
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: black;
    color: white;
}
.main{
    font-size: 70px;
    text-align: center;
    margin: 0;
}
.timer{
    display: inline-block;
    margin-top: 0px;
    margin-left: 90%;
    margin-bottom: 0;
    font-size: 50px;
}
.images{
    margin-left: 38%;
}


/**
Hello
*/