body{
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    color: rgb(170, 59, 59);
    background-image: url(imgs2/blob-scene-haikei.png);
    background-size: cover;
}
.container{
    width: 80%;
}
.main{
    font-size: 500%;
    text-align: center;
    margin: 0;
}

.timer{
    display: inline-block;
    margin-top: 0px;
    margin-left: 87%;
    margin-bottom: 0;
    font-size:250%;
}
.images{
    display: inline-block;
    text-align: center;
}
.im_bw{
    display: inline-block;
    width: 15%;
    height: 15%;
}

.input{
    display: inline;
    text-align:center;
}
#lorel{
    width: 23%;
    position: fixed ;
    left: 5%;
    bottom: 1%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    opacity: 0.8;
    z-index: -1;
}
#lorel2{
    width: 23%;
    position: fixed ;
    left: 82%;
    bottom: 57%;
    z-index: -1;
    opacity: 0.8;
}
.inner{
    position: relative;
    top: 1%;
}
#blanks .blank {
    font-size: 200%;
    margin-top: 2%;
    border: 1px solid black;
    display: inline-block;
    width: 4%;
    height: 4%;
    background-color: rgb(243, 235, 235);
}
#letters{
    margin-top: 1%;
}
#letters .letter {
    font-size: 200%;
    border: 1px solid black;
    display: inline-block;
    width: 4%;
    height: 4%;
}
#letters .letter:hover{
    /* background-color: rgb(218, 219, 218); */
    color:orange;
}
#letters .letter ::selection{
    background-color: rgb(196, 192, 190);
}


@media screen and (max-width: 600px){
    .main{
        font-size: 400%;
        text-align: center;
        margin: 0;
    }
    .timer{
        display: inline-block;
        margin-top: 0px;
        margin-left: 74%;
        margin-bottom: 0;
        font-size: 150%;
    }
    .images{
        display: inline-block;
        margin-top: 10%;
        text-align: center;
    }
    .im_bw{
        width:40%;
    }
    .input{
        display: inline;
        text-align:center;
    }
    #blanks .blank {
        font-size: 200%;
        margin-top: 7%;
        border: 1px solid black;
        display: inline-block;
        width: 11%;
        height: 4%;
        background-color: brown;
    }
    #letters{
        margin-top: 5%;
    }
    #letters .letter {
        font-size: 200%;
        border: 1px solid black;
        display: inline-block;
        width: 11%;
        height: 4%;
        
        
    }
    
    
}

/**
Hello
*/