body{
    background-color: black;
    text-align: center;

}
.go{
    margin: 0;
    font-size:620%;
    text-decoration: none;
    color: red;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
}
.main_text{
    margin: 0;
    font-size: 620%;
    text-decoration: none;
    color: white;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
}
.pixel{
    width:30%;
}
@media only screen and (max-width: 600px){
    .go{
        margin: 0;
        font-size: 420%;
        text-decoration: none;
        color: red;
        font-family: 'ZCOOL KuaiLe', cursive;
        text-align: center;
    }
    .main_text{
        font-size: 280%;
        color: white;
        font-family: 'ZCOOL KuaiLe', cursive;
        text-align: center;
    }
    .pixel{
        width: 70%;
        margin-top: 24%;
    }
}