body{
    font-family: 'IM Fell English SC', serif;
    color: white;
    background-color: black;
    text-align:center ;
}
.go{
    margin: 0;
    font-size:620%;
    text-decoration: none;
    color: red;
    font-family: 'IM Fell English SC', serif;
}
.main_text1{
    font-size: 540%;
    text-decoration: none;
    color: white;
    font-family: 'IM Fell English SC', serif;
    border: 4px groove white;
    border-radius: 2%;
    padding: 2%;
}
.main_text2{
    font-size: 540%;
    text-decoration: none;
    color: white;
    font-family: 'IM Fell English SC', serif;
    padding: 0%;
    margin: 0;
}
.btnInstr{
    color: black;
    margin: 0;
    font-size: 150%;
    text-decoration: none;
    font-family: 'IM Fell English SC', serif;    
}
.openD{
    margin-bottom: 5%;
}
.pixel{
    margin-top: 7%;
    width:25%;
}
@media (max-width: 800px ){
    .pixel{
        margin-top: 4%;
        width:20%;
    }
    .go{
        margin: 0;
        font-size: 420%;
        text-decoration: none;
        color: red;
        font-family: 'IM Fell English SC', serif;
        text-align: center;
    }
    .main_text1{
        font-size: 480%;
        color: white;
        font-family: 'IM Fell English SC', serif;
        text-align: center;
        border: 0px;
    }
    .main_text2{
        font-size: 300%;
        color: white;
        font-family: 'IM Fell English SC', serif;
        text-align: center;
    }
    .pixel{
        width: 70%;
        margin-top: 24%;
    }
}